<header class="site-header px2 px-responsive">
  <div class="mt2 wrap">
    <div class="measure">
      <div class="site-title">
        <a href="{{ site.url }}" class="site-main-title"> {{ site.title }}</a>
        <p class="site-tagline">{{ site.tagline }}</p>
      </div>
      <nav class="site-nav">
        {% include navigation.html %}
      </nav>
      <div class="clearfix"></div>
      {% if site.show_social_icons %}
        {% include social_links.html %}
      {% endif %}
    </div>
  </div>
</header>
