@import 'variables';

.tag-list > li {
	list-style:none;
	background-color: #BBB;
  color: #FFF;
	display: inline-block;
	padding: .5rem;
	font-size: .75rem;
	float:left;
	margin-right: .25rem;
  border-radius: 5px;
  font-family: $monospace-font-family;
}
.tag-list {
	overflow:auto;
	padding-left:0;
	margin-bottom:0;
}
.list-container {
	margin-bottom:3rem;
	border-bottom:1px solid #CCC;
}

.list-container:first-child {
	border-top: 1px solid #CCC;
}

.tag {
	background-color: #EEE;
	border-bottom: 3px solid #DDD;
	padding: .5em;
	border-radius: 3px;
}

.available {
	background-color: #18dd77;
	border-color: #0ea550;
	color: #FFF;
}

.newsletter-container {
  text-align: center;
	background-color: #F2F2F2;
  padding: 2rem;
	margin-top: 40px;
}

.images-list {
  img {
    width: 200px;
  }
}
