html {
  font-size: $base-font-size;
}

abbr {
  border-bottom: $abbr-border-bottom;
  cursor: help;
}

p {
  color: #333;
  line-height: 2.0;
}

small,
.small {
  font-size: 0.707rem;
}

ul > li {
  margin-bottom:.75rem;
}
